.flashcard {
  width: 200px;
  height: 150px;
  margin: 20px;
  perspective: 1000px;
}

.flashcard .front, .flashcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
}

.flashcard .back {
  transform: rotateY(180deg);
  background-color: #f8d210;
}

.flipped .front {
  transform: rotateY(180deg);
}

.flipped .back {
  transform: rotateY(360deg);
}

.flashcard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.flashcard-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #f4f4f4; */
}

h1 {
  text-align: center;
  margin-top: 30px;
}
